<launch>
	<node pkg="red_fundamentals" type="walls" name="walls" args="5 0.02" >
	</node>
	<node pkg="red_fundamentals" type="centering" name="centering" >
	</node>
	<node pkg="red_fundamentals" type="stopper" name="stopper" >
	</node>
	<node pkg="red_fundamentals" type="smooth_server" name="smooth_server" args="true" >
	</node>
</launch>
